body{
    background: rgb(240, 239, 245);
}

.fondo-white{
    background: white ;
}

.form{
    border-radius: 20px;
}
.form-shadow{
    -webkit-box-shadow: -34px 22px 30px 0px rgb(172, 176, 238);
    -moz-box-shadow: -34px 22px 30px rgb(172, 176, 238);
    box-shadow: -34px 22px 30px 0px rgb(172, 176, 238);
}

.nav-shadow{
    -webkit-box-shadow: -1px 9px 25px 0px rgba(157,163,245,1);
    -moz-box-shadow: -1px 9px 25px 0px rgba(157,163,245,1);
    box-shadow: -1px 9px 25px 0px rgba(157,163,245,1);
}
